<section class="home">
  <div class="home__inner">
    <div class="home__text">
      <p class="home__subtitle">Simulados</p>
      <h1 class="home__title">GitHub Foundations Certification</h1>
      <p class="home__description">Escolha quantas questões quiser e comece a praticar agora mesmo!</p>
    </div>
    <div class="home__media">
      <img class="home__badge" src="assets/images/github-foundations-badge.png" alt="Badge GitHub Foundations">
    </div>
    <div class="home__form">
      <input class="home__input" type="number" min="1" [max]="maxQuestions" [(ngModel)]="questionsCount" />
      <button class="home__button" (click)="startQuiz()">Iniciar</button>
    </div>
  </div>
</section>