$white: #FFFFFF;
$black: #0D1117;
$gray-dark: #43484D;
$gray-medium: #6E757C;
$gray-light: #F6F6F6;

$pink: #F778BA;
$blue: #79C0FF;
$green: #009B3A;
$red: #D02F44;

$pink-hover: #FF5CB1;

$border-radius: 0.5rem;